$theme-colors: (
  "primary": #5614cf,
  "secondary": #f2203d,
  "deals": #62bd7a,
);
@import "node_modules/bootstrap/scss/bootstrap";

.bg-secondary {
  background: linear-gradient(113deg, #f21d3c 28%, #f48b45 138%),
    linear-gradient(180deg, #020303, #020303);
  color: white !important;
}
